.tracking-page {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.tracking-page .back-to-orders-link {
  display: inline-block;
  margin-bottom: 30px;
}

.tracking-page .delivery-date {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgb(255, 90, 160);
}

.tracking-page .product-info {
  margin-bottom: 3px;
  color: rgb(120, 120, 120);
}

.tracking-page .product-image {
  max-width: 150px;
  max-height: 150px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.tracking-page .progress-labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  color: rgb(150, 150, 150);
}

.tracking-page .current-status {
  color: rgb(255, 90, 160);
}

@media (max-width: 575px) {
  .tracking-page .progress-labels-container {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .tracking-page .progress-labels-container {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .tracking-page .progress-label {
    margin-bottom: 3px;
  }
}

.tracking-page .progress-bar-container {
  height: 20px;
  width: 100%;

  border: 1px solid rgb(255, 220, 230);
  border-radius: 50px;
  overflow: hidden;

  background-color: rgb(255, 245, 250);
}

.tracking-page .progress-bar {
  height: 100%;
  width: 50%;

  background-color: rgb(255, 105, 180);
  border-radius: 50px;
}