.checkout-header {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;

  background-color: rgb(255, 240, 245); /* soft pink background */
  border-bottom: 2px solid rgb(255, 182, 193);

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.checkout-header .header-content {
  width: 100%;
  max-width: 1100px;

  display: flex;
  align-items: center;
}

.checkout-header .checkout-header-left-section {
  width: 200px;
}

.checkout-header .logo {
  height: 26px;
  margin-top: 0px;
}

.checkout-header .mobile-logo {
  display: none;
}

/* This @media
   means when the screen width is 575px or less, different
   styles (inside the {...}) will be applied. */
@media (max-width: 575px) {
  .checkout-header .checkout-header-left-section {
    width: auto;
  }

  .checkout-header .logo {
    display: none;
  }

  .checkout-header .mobile-logo {
    display: inline-block;
    height: 26px;
  }
}

.checkout-header .checkout-header-middle-section {
  flex: 1;
  flex-shrink: 0;
  text-align: center;

  font-size: 22px;
  font-weight: 500;

  display: flex;
  justify-content: center;
}

.checkout-header .return-to-home-link {
  /* color: rgb(25, 135, 84); */
  color: rgb(255, 105, 180); /* main pink */

  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.checkout-header .return-to-home-link:hover {
  opacity: 0.75;
}

.checkout-header .return-to-home-link:active {
  opacity: 0.55;
}

/* RESPONSIVE TEXT */
@media (max-width: 1000px) {
  .checkout-header .checkout-header-middle-section {
    font-size: 20px;
    margin-right: 60px;
  }

  .checkout-header .return-to-home-link {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .checkout-header .checkout-header-middle-section {
    margin-right: 5px;
  }
}

.checkout-header .checkout-header-right-section {
  text-align: right;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.checkout-header .checkout-header-right-section img {
  height: 32px;
  filter: saturate(1.2);
}

@media (max-width: 1000px) {
  .checkout-header .checkout-header-right-section {
    width: auto;
  }
}